.apk-left-menu {
	position: sticky;
	height: 100vh;
	top: 0;
	background-color: #072684;
	color: white;
	.apk-logo {
		img {
			width: 40px;
			height: 40px;
			border-radius: 4px;
			margin-right: 1ch;
			background-color: white;
			padding: 2px;
		}
		padding-left: 8px;
		font-weight: bold;
		font-size: 13px;
		a {
			text-decoration: none;
			color: white;
			&:hover {
				color: #d3d3d3;
			}
		}
	}
	.uk-nav {
		a {
			color: white;
			font-weight: 500;
			font-size: 14px;
			padding: 8px;
			&:hover {
				color: #d3d3d3;
			}
		}
		.uk-active {
			background-color: #0056b3;
			border-radius: 6px;
		}
	}
	.apk-logout {
		background-color: #001ce2;
		border-radius: 6px;
		width: 40px;
		height: 40px;
		&:hover {
			background-color: #0010c8;
		}
	}
}

.uk-offcanvas-bar {
	padding: 0;
}

.apk-username {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
