body, .container, .navbar{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

/* 1. Centrage du contenu sous la navbar */
.container {
    max-width: 1200px;
    margin: 40px auto; /* Centre le bloc horizontalement avec les marges auto */
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* 2. On stylise le tableau */
.user-table {
    border-collapse: collapse;
    width: 100%;
    /*margin-top: 20px;*/
    max-width: 1000px; /* Limite la largeur pour ne pas qu'il soit trop étiré */
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden; /* Pour que les arrondis s'appliquent aux cellules */
}

.user-table thead tr {
    background-color: #2c3e50;
    color: #ffffff;
    text-align: left;
}

.user-table th, 
.user-table td {
    padding: 15px 20px;
}

.user-table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

/* Optionnel : Le badge pour le rôle */
.badge {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #e1f5fe;
    color: #039be5;
    font-size: 0.85em;
    font-weight: bold;
}