.uk-button {
	border-radius: 6px;
}

.uk-margin-large-top {
	@media (min-width: 960px) {
		margin-top: 20px !important;
	}
}

.uk-notification-message {
	border-radius: 6px;
	background-color: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.uk-card.uk-card-default.uk-card-body.uk-margin-bottom {
	min-height: 372px;
	border-radius: 6px;
	.uk-card-title {
		font-size: 14px;
		font-weight: 700;
	}
	.resolu {
		font-size: 12px;
		color: lightslategray;
	}
	@media (max-width: 960px) {
		min-height: auto;
	}
}

.uk-modal-body {
	border-radius: 6px;
}

.uk-input,
.uk-select {
	border-radius: 6px;
}

.uk-form-label {
	color: gray;
}

.uk-table th {
	text-transform: uppercase;
	font-size: 12px;
	color: black;
}

.uk-offcanvas-bar {
	padding: 0;
}
